<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FarmOps</title>
    <!-- d3 geo bits and other deps -->
    <link href="/d3-geomap/css/d3.geomap.css" rel="stylesheet">
    <script src="/d3-geomap/vendor/d3.geomap.dependencies.min.js"></script>
    <script src="/d3-geomap/js/d3.geomap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/countup.js"></script>
    <!-- farmops stuff -->
    <link href="/css/site.css" rel="stylesheet">
    <script src="/js/api.js"></script>
    <script src="https://use.fontawesome.com/ddc88e3265.js"></script>
</head>

<body>
    <div class="map" id="map">
    </div>
    <div class="stats">
        <h1><span>farm</span>ops</h1>
        <p>FarmOps is an application that calculates the deficit in local food production and determines the number of microfarms that would be required for the locality to be self-sufficient.</p>
        <h2 class="stats__county-name">Select a county to begin...</h2>
        <span class="stats__message-no-data">Currently no data available.</span>

        <div class="stats__table">
            <div class="stats__table-row" id="populationRow">
                <span class="stats__table-cell--data-count">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <span id="population"></span>
                </span>
                <span class="stats__table-cell--data-text">people</span>
            </div>

            <div class="stats__table-row" id="farmlandRow">
                <span class="stats__table-cell--data-count">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <span id="farmland"></span>
                </span>
                <span class="stats__table-cell--data-text">hectares produced</span>
            </div>

            <div class="stats__table-row" id="requiredRow">
                <span class="stats__table-cell--data-count">
                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                    <span id="required"></span>
                </span>
                <span class="stats__table-cell--data-text">hectares consumed</span>
            </div>

            <div class="stats__table-row" id="deficitRow">
                <span class="stats__table-cell--data-count">
                    <span id="deficitIcon"></span>
                    <span id="deficit"></span>
                </span>
                <span class="stats__table-cell--data-text"></span>
            </div>

            <div class="stats__table-footer" id="shippingContainerRow">
                <div class="shipping-containers__container">
                    <object type="image/svg+xml" data="/images/container.svg"></object>
                </div>
                <div class="shipping-containers__data">
                    <span class="shipping-containers__data-count" id="containerCount"></span>
                    <span class="shipping-containers__data-text">micro farms required
                      <i id="info" class="fa fa-info-circle" title="The number of microfarms required for the county to be self-serving, based on a single microfarm yielding 2 acres (0.8 hectares) of produce." aria-hidden="true"></i></span>
                </div>
            </div>
        </div>
    </div>

    <footer>a <a href="https://lysfibe.co.uk/">lys fibe</a> production, made for <a href="https://2017.spaceappschallenge.org/">#spaceapps</a> with love.</footer>

    <script>
        var map = d3.geomap.choropleth()
                    .geofile('/d3-geomap/topojson/countries/GBR.json')
                    .height(860)
                    .scale(4500)
                    .translate([600, 4800]);
                    
        d3.select('#map').call(map.draw, map);
    </script>

    <script src="/js/app.js"></script>
</body>

</html>
